services:
  postgres:
    build:
      context: .
      dockerfile: postgres.dockerfile
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 15s
      timeout: 5s
      retries: 3
    expose:
      - 5432
    ports:
      - 5432:5432
    restart: unless-stopped
    volumes:
      - ./postgres-data:/var/lib/postgresql
    env_file:
      - .env
    environment:
      - POSTGRES_DB_NAME=${DATABASE_NAME}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}

  redis:
    image: redis
    container_name: redis
    restart: always
    hostname: redis
    ports:
      - "6379:6379"

  backend: &backend
    build: .

    ports:
      - "127.0.0.1:8000:8000"

    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - .venv/
        - action: rebuild
          path: ./pyproject.toml
    command: >
      sh -c "python manage.py migrate && granian --interface wsgi src.wsgi:application --host 0.0.0.0 --port 8000"

  celery-beat:
    <<: *backend
    command: celery -A caller --app=src.celeryconf:app worker -B
    depends_on:
      - redis
    ports:
      [ ]
networks:
  default:
    name: caller_id

